---
import Navbar from '../layouts/navbar.astro';
import Layout from '../layouts/Layout.astro';
/* const data= await fetch('https://localhost:8080/api/user');
const horario = await fetch('https://localhost:8080/api/horario');
const response = await data.json();
const user=response.name */
---
<Layout title="Home">
<h1>Home</h1>
<!--<h1>user.name</h1> -->
<Navbar />
</Layout>