---
import Navbar from '../components/navbar.astro';
import Layout from '../layouts/Layout.astro';

// Obtiene los datos del usuario
const data = await fetch('https://localhost:8080/api/users');
const response = await data.json();
const user = response; 
---

<Layout title="Inicio">

    <h1>{user.name}</h1>
    <Navbar />
</Layout>
