<!-- ---
import Layout from '../layouts/Layout.astro';
import Recucontra from '../components/recuContra.vue';
---
<Layout title="Restablecer Contraseña">
  <div id="app">

  </div>

  <script type="module">
    import { createApp } from 'vue';
    createApp(Recucontra).mount('#app');
  </script>
</Layout> -->
