---
import.meta.env.BASE_URL;
---
<nav class="flex items-center justify-between bg-white border border-gray-200 dark:border-gray-700 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800 shadow w-full">
  <div class="w-full">
    <button id="mobile-menu-button" class="md:hidden text-gray-700 dark:text-gray-400 focus:outline-none">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
    <ul id="mobile-menu" class="hidden md:flex flex-col md:flex-row w-full justify-between space-x-0 md:space-x-4 mt-4 md:mt-0 md:text-sm md:font-medium">
      <!-- Enlaces de navegación -->
      <li>
        <a href="../horario" class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
          Mi horario
        </a>
      </li>
      <li>
        <a href="../misFaltas" class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
          Mis faltas
        </a>
      </li>
      <li>
        <a href="../guardiasHoy" class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
          Guardias de hoy
        </a>
      </li>
      <li>
        <a href="../faltasHoy" class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
          Faltas de hoy
        </a>
      </li>
      <li>
        <a href="../horarioProfesorado" class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
          Horario del profesorado
        </a>
      </li>
      <li>
        <a href="../plantillaDocente" class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
          Modificar plantilla docente
        </a>
      </li>
      <li class="relative">
        <span id="mi-cuenta-link" class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent cursor-pointer">
          Mi cuenta
        </span>
        <ul id="dropdown-menu" class="absolute hidden text-gray-700 pt-1 space-y-1 bg-white rounded-md shadow-lg dark:bg-gray-800 dark:text-gray-400 top-full left-0 w-48">
          <li>
            <a href="#" class="block py-2 pr-4 pl-3 text-sm hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
              Ajustes
            </a>
          </li>
          <li>
            <a href="logout" class="block py-2 pr-4 pl-3 text-sm hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
              Cerrar sesión
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const miCuentaLink = document.getElementById('mi-cuenta-link');
    const dropdownMenu = document.getElementById('dropdown-menu');
    const logoutLink = document.querySelector('a[href="logout"]');
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    miCuentaLink.addEventListener('click', function (event) {
      event.stopPropagation();
      dropdownMenu.classList.toggle('hidden');
    });

    document.addEventListener('click', function () {
      if (!dropdownMenu.classList.contains('hidden')) {
        dropdownMenu.classList.add('hidden');
      }
    });

    dropdownMenu.addEventListener('click', function (event) {
      event.stopPropagation();
    });

    // Verificación si logoutLink es null
    if (logoutLink) {
      logoutLink.addEventListener('click', function (event) {
        event.preventDefault();
        if (typeof window !== 'undefined') {
          window.sessionStorage.removeItem('authToken');
          window.location.href = 'http://localhost:4321/'; // Redirige a la página de inicio de sesión
        }
      });
    } else {
      console.error('El enlace de cierre de sesión no se encontró.');
    }

    mobileMenuButton.addEventListener('click', function () {
      mobileMenu.classList.toggle('hidden');
    });
  });
</script>

